#container{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color:#011627;
    background-color: #f3f3f3;
}
.navbar{
width:280px;
height:100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#profile{
    width:192px;
    height:192px;
    object-fit: cover;
    border-radius: 50%;
    border:6px solid #8B80F9;
    margin-bottom: 16px;
}
.resume_link{
    padding:12px 0 ;
}
.resume_link a{
    color: black;
}

.resume_sections{
    width:calc(100%-280px);
    height:100vh;
    overflow: scroll;
    }
.resume_section{
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
h1.section-title{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}
.highlight{
   color:#8B80F9;
}

.section-sub-desc,.section-sub-date{
    font-size:24px;
    font-weight: 400;
}
.section-desc{
    font-size:16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 20px;
}

.section-icons{
    font-size: 24px;
    display: flex;
    margin-top: 10px;
}

.section-icons a{
    color: #011627;
}
.section-icons li{
    padding-right: 12px;
}

h2.section-title{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}
.sub-section{
    margin-bottom: 20px;
}
.sub-section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.sub-section-title{
    font-size: 36px;
    margin-bottom: 16px;
}
.skill-icons{
    font-size: 48px;
    display: flex;
    margin-top: 20px;
}
.skill-icons a{
    color: #011627;
}
.skill-icons li{
    padding-right: 24px;
}